<div class="about-container">

  <h1>About Me</h1>

  <hr/>

  <p>In 2017, I decided to pursue my passion for web development. I attended an intensive 3-month "bootcamp" where I learned javascript app development</p>

  <p>Over the past year, I've been an active participant in the local tech ecosystem. I've spent my time:</p>

  <ul>
    <li>Hosting and attending meetups on a weekly basis.</li>
    <li>Teaching adults and children web development fundamentals.</li>
    <li>Building websites for friends and family.</li>
    <li>Building projects in Rails and React to showcase my skills.</li>
  </ul>

</div>