<h3>Let's Work Together</h3>
<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<h4>Phone</h4>-->
    <!--<p>682-220-2537</p>-->
    <!--<h4>Email</h4>-->
    <!--<p><a href="mailto: jay.m.howard@gmail.com?subject="PortfolioContact" "email-me">Email me</a></p>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.759348830766!2d-97.06705138465118!3d32.77211948097347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e873c126e7253%3A0x5f80182d100488d5!2s2301+Streambed+Ct%2C+Arlington%2C+TX+76006!5e0!3m2!1sen!2sus!4v1526744677597" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
  <!--</div>-->
<!--</div>-->