<div class="container center-main">
  <div class="row">
    <div class="col-md-5 contact-title">
      <h4 class="text">Contact.</h4>
      <h5 class="text">Let's Work Together</h5>
      <p class="text">Text. Email. Social. <br/>Let's connect!</p>
    </div>
    <div class="col-md-5 photo-frame">
      <h4 class="text">Phone</h4>
      <a href="tel:682-220-2537">682.220.2537</a>
      <hr/>
      <h4 class="text">Email</h4>
      <p class="text"><a href="mailto: jay.m.howard@gmail.com?subject="PortfolioContact" "email-me">Email me</a></p>
      <hr/>
      <button type="button" class="btn btn-outline-light"><a href="https://github.com/MonicaHoward">Github</a></button>
      <button type="button" class="btn btn-outline-light"><a href="https://www.linkedin.com/in/monica-howard-a23217102/">Linkedin</a></button>
      <button type="button" class="btn btn-outline-light"><a href="https://twitter.com/imonicahoward">Twitter</a></button>
    </div>
  </div>
</div>


