<!--<main role="main" class="inner container home-page">-->
  <!--<div class="jumbotron home-main">-->

    <!--<i class="devicon-bootstrap-plain-wordmark"></i>-->
    <!--<i class="devicon-css3-plain-wordmark"></i>-->

    <!--<hr class="my-4">-->
    <!--<p class="lead">-->
      <!--<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>-->
    <!--</p>-->
  <!--</div>-->


<!--</main>-->

