@import url('https://fonts.googleapis.com/css?family=Bungee');
* {
  font-family: 'Bungee', cursive;
  color: #404040;

}
.text {
  font-family: 'Bungee', cursive;
}
.center-main {
  margin-top: 10%;
}
.title-text {
  margin-top: 5%;
  margin-left: 10%;
}
.title-text h4 {
  font-size: 4em;
}
.photo-frame {
  border: 1px solid #FFF;
  padding: 3%;
}