@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade');

.mh-main {
  font-family: 'Bungee Shade', cursive;
  color: #404040;
  font-size: 4em;
  text-align: center;
  margin: 20% auto 1% auto;

}
.mh-sub {
  font-family: 'Bungee Inline', cursive;
  border: 1px solid #FFF;
  color: #404040;
  font-size: 2em;
  margin: 0 auto;
  margin-left: 40%;
  padding: 1%;
  width: 50%;
}